.logo{
position: absolute;
width: 93px;
height: 62.11px;
left: 26px;
top: 23px;
}

.img{ 
position: absolute;
width: 321.01px;
height: 320.17px;
left: 50.99px;
top: 128.09px;
}

.text{
position: absolute;
width: 376px;
height: 240px;
left: 26px;
top: 505px;
color: red;
font-family: 'Pilat Extended';
font-style: normal;
font-weight: 600;
font-size: 61px;
line-height: 60px;
}